# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Database
db.sqlite3

# Environment Variables
.env

# Django
media/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db